body {
/* 	background-color: #515153; */
	background-image: url("indoor_library.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'minion';
	color: #555;
	font-size: 14px;
}

.container {
	width: 650px;
/* 	margin: 100px auto; */
	margin: auto;
}

section {
/* 	border: 1px solid #ccc; */
	border-radius: 6px;
/* 	background-color: #F2F1ED; */
/* 	background-color: #DAD9D5; */
	background-color: #DEDDD9;
/* 	background-color: #BCBBBA; */
	
}

#menu {
/* 	width: 650px; */
	width: auto;
	margin-bottom: 10px;
	color: white;
	font-family: 'minion';
	font-size: 25px;
	background-color: black;
	border: 0px;
	border-radius: 0px;
	display: block;
}

#menu ul {
/* 	float: right; */
}

#menu li {
/* 	width: 120px; */
}

#login {
	width: 650px;
	border-radius: 6px;
}

.column {
	padding: 20px;
	background-color: #E3FFE5;
}

h1 {
	font-size: 50px;
	color: white;
	padding: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: bold;
}

.header {
	background-image: url("wp.jpg");
	height: 100px;
}

.footer {
	background-image: url("wp.jpg");
	height: 30px;
	color: white;
	padding-top: 10px;
	padding-right: 10px;
}

#footer {
	float: right;
}

label {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: left;
}

.inputElement {
	line-height: 150%;
	display: block;
	width: 50%;
	height: 28px
}

.rememberme, .submit {
	display: block;
	margin-top: 10px;
}

#description {
	width: 400px;
	height: 150px;
}

button {
	margin-top: 20px;
	border-radius: 5px;
	height: 30px;
	width: 100px;
	background-color: white;
	font-family: 'minion';
	font-weight: bold;
	color: #555;
}

.menulink {
	color: #E3FFE5;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
}

.borrow {
	font-family: 'minion';
	color: #555;
	float: right;
}

li {
	display: inline-block;
	padding: 10px 5px;
}

small #author {
	float: left;
}

p {
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
}

fieldset {
	padding: 5px 10px;
}

.bookline {
	padding-right: 5px;
	width: 95%;
}

.topline {
	
}

.attributes {
	background-color: #E3FFE5;
	padding: 5px;
	margin-top: 5px;
	display: block;
}

.attribute {
	margin-left: 5px;
	margin-right: 10px;
}

.hiredbooks {
/* 	background-color: #E3FFE5; */
	padding: 5px 10px;
	width: 628px;
	margin: 10px;
	text-align: center;
}

tbody tr:nth-child(odd) {
   background-color:#E3FFE5;
}

tr {
	border-collapse: collapse;
}


td {
	padding: 10px;	
}

thead {
	font-weight: bold;
	font-size: 16px;
}

em {
	font-weight: bold;
}

#search {
	margin: 5px 10px;
	float: right;
	border-radius: 5px;
	width: 200px;	
/* 	background-color: #E3FFE5; */
}

.magnifyingglass {
	width: 20px; 
	height: 20px;
	float: right;
}

.bookList {
	min-height: 654px;
}

.pagination {
	margin: auto;
	width: 200px;
}

.pagination ul {
	margin-bottom: 10px;	
}

.pagination li {
	padding: 0px;
	width: auto;
	height: auto;
}

.pagination a {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	display: inline-block;
	color: #555;
	text-decoration: none;
}

.error {
	color: red;
}

.errorBox {
	color: red;
}